body {
  background: url("../assets/1.jpg") repeat;
  font-size: 16px !important;
}
.m-box {
  width: 100%;
  height: 100%;
  position: absolute;
}
.m-header {
  background: #d2eafb;
  color: #888;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.m-content {
  width: 95%;
  margin: 2% auto;
  height: 80%;
}
.ant-select-tree,
.ant-select-search__field__placeholder {
  font-size: 16px !important;
}
.login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url(../assets/loginBg.jpg) no-repeat 50% / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .login-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(131, 127, 126, 0.2);
}
.login-container .login-content {
  padding-bottom: 68px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px 2px rgba(93, 47, 47, 0.59);
  background: #fff;
  z-index: 1;
}
.login-container .login-content h2 {
  margin-bottom: 58px;
  padding: 20px 100px;
  border-radius: 5px 5px 0 0;
  background: #697c94;
  color: #fff;
  text-align: center;
}
.login-container .login-content button.ant-btn {
  background-color: #b3a49a;
  border-color: #b6aca2;
}
.login-container .ant-form-item-label {
  text-align: left;
}
.login-container .ant-form-item {
  padding: 0 60px;
}
.login-container .ant-form-item > label:after {
  content: "";
}
